<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/authForm.css">
        <script src="/RegExpEmailAndPassword.js"></script>

        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>signIn</title>
</head>

<body>
    <h1 style="font-size: xx-large; text-align: center; color: white;">SignIn Form</h1>
    <div id="auth">
        <form action="" id="signIn">
      
            <label for="email" >Email</label>
            <input type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" class="inp" id="email" placeholder="" required>
            
            <label for="pass">password</label>
            <input type="password" class="inp" id="pass" placeholder="" required>

            <label for="rep_pass">Repeat password</label>
            <input type="password" class="inp" id="rep_pass" placeholder="" required>
            
        </form>
        <button id="btn" type="submit">LogIn</button>
    </div>
   <script src="/eyeToggle.js"></script>
    <script src="/forgetPass.js"></script>
</body>

</html>
